GOOGLE_APPLICATION_CREDENTIALS="path/to/json"
GOOGLE_RECAPTCHA_V3_SECRET=""
VITE_V3_SITE_KEY=""
GOOGLE_RECAPTCHA_V2_SECRET=""
VITE_V2_SITE_KEY=""
GOOGLE_SITE_KEY=""
SPREADSHEET_ID=""
VITE_API_ENV="development"
VITE_CODE_WORD="potential"
AS_LINK="https://script.google.com/macros/s/deploy_id"
DEPLOY_ID=""
API_KEY = ""
EMAIL_PROCESSING="process@emails.com"
CACHE_REFRESH="refreshcache@emails.com"
REGEX_PHYSICAL_COPY=^([12349]\d{3}|[12349]\d{5})$
REGEX_DIGITAL_COPY=^(999999|[A-Za-z0-9]{7})$
REGEX_ADVANCE_READER_COPY=^([123]\d{3}|[123]\d{4}|[123]\d{5})$
VITE_LIBRARY_CODE="6 digit number"
