node_modules
notes
.env
dev.js
prepForDeployment.js
bw-ae-db-a89a8170158f.json
notes.txt
pseudo.txt
pseudo
DependencyUpdatesJune2026
backend/bash.exe.stackdump
frontend/bash.exe.stackdump
.bash.exe.stackdump
bash.exe.stackdump